/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
resources/views/layouts/jakata.sublime-project
resources/views/layouts/jakata.sublime-workspace
.DS_Store
.DS_Store
public/.DS_Store
public/images/.DS_Store
